@page "{id:int}"

@using AutoParts.Models

@model AutoParts.Pages.UpdateProductModel
@{
    AutoPart part = Model.AutoPart!;
}
@section Styles {
    <link rel="stylesheet" href="~/css/products.css">
}
<main>
    <div class="description">
        <div id="currentState">
            <h1>@part.Name</h1>
            <p>Applicability: <span class="detail">@part.Applicability</span></p>
            <p>Company: <span class="detail">@part.Company</span></p>
            <p>Price in RUB: <span class="detail">₽@part.PriceInRubles</span></p>
            <p>Price in KZT: <span class="detail">₸@part.PriceInTenge</span></p>
            <p>Amount: <span class="detail">@part.Amount</span></p>
            <div class="btnWrapper">
                <button class="modifyBtn" id="editBtn" form="updateForm" disabled>Save Changes</button>
                <button class="modifyBtn" id="deleteBtn">Delete</button>
            </div>
        </div>
        <div id="updatedState">
            <form id="updateForm" method="post" asp-antiforgery="true" asp-action="/Main/Upload">
                <div class="input-container">
                    <label asp-for="AutoPart!.Name" class="detail"></label>
                    <input asp-for="AutoPart!.Name" value="@part.Name" minlength="3" required>
                    <span class="error-message" asp-validation-for="AutoPart!.Name"></span>
                </div>
                <div class="input-container">
                    <label asp-for="AutoPart!.Applicability" class="detail"></label>
                    <input asp-for="AutoPart!.Applicability" value="@part.Applicability" minlength="3" required>
                    <span class="error-message" asp-validation-for="AutoPart!.Applicability"></span>
                </div>
                <div class="input-container">
                    <label asp-for="AutoPart!.Company" class="detail"></label>
                    <input asp-for="AutoPart!.Company" value="@part.Company">
                    <span class="error-message" asp-validation-for="AutoPart!.Company"></span>
                </div>
                <div class="input-container">
                    <label asp-for="AutoPart!.PriceInRubles" class="detail"></label>
                    <input asp-for="AutoPart!.PriceInRubles" value="@part.PriceInRubles" type="number" step="500.00" min="0">
                    <span class="error-message" asp-validation-for="AutoPart!.PriceInRubles"></span>
                </div>
                <div class="input-container">
                    <label asp-for="AutoPart!.PriceInTenge" class="detail"></label>
                    <input asp-for="AutoPart!.PriceInTenge" value="@part.PriceInTenge" type="number" step="500.00" min="0">
                    <span class="error-message" asp-validation-for="AutoPart!.PriceInTenge"></span>
                </div>
                <div class="input-container">
                    <label asp-for="AutoPart!.Amount" class="detail"></label>
                    <input asp-for="AutoPart!.Amount" value="@part.Amount" type="number" min="0">
                    <span class="error-message" asp-validation-for="AutoPart!.Amount"></span>
                </div>
            </form>
        </div>
    </div>
</main>

<script type="module" src="~/js/autoPartValidation.js"></script>
<script type="module" src="~/js/products.js"></script>