@page "{id:int}"

@using AutoParts.Models

@model AutoParts.Pages.Main.UpdateProductModel
@{
    ViewData["Title"] = "Update Product";
    AutoPart part = (ViewData[nameof(AutoPart)] as AutoPart)!;
}
@section Styles {
    <link rel="stylesheet" href="~/css/update-product.css">
    <link rel="stylesheet" href="~/css/input-generic.css">
}
<main>
    <div class="description">
        <div id="current-state">
            <h1>@part.Name</h1>
            <p>Applicability: <span class="detail">@part.Applicability</span></p>
            <p>Company: <span class="detail">@part.Company</span></p>
            <p>Price in RUB: <span class="detail">₽@part.PriceInRubles</span></p>
            <p>Price in KZT: <span class="detail">₸@part.PriceInTenge</span></p>
            <p>Amount: <span class="detail">@part.Amount</span></p>
            <div class="btn-wrapper">
                <button class="modify-btn" id="edit-btn" form="update-form" disabled>Save Changes</button>
                <button class="modify-btn" id="delete-btn">Delete</button>
            </div>
        </div>
        <div id="updated-state">
            <form id="update-form" method="post" asp-antiforgery="true" asp-action="/Main/UpdateProduct">
                <div asp-validation-summary="All"></div>
                <input type="hidden" asp-for="AutoPart!.Id" value="@part.Id">
                <div class="input-container">
                    <label asp-for="AutoPart!.Name" class="detail"></label>
                    <input asp-for="AutoPart!.Name" value="@part.Name" minlength="3" required placeholder="This is a required field">
                    <span class="error-message" asp-validation-for="AutoPart!.Name"></span>
                </div>
                <div class="input-container">
                    <label asp-for="AutoPart!.Applicability" class="detail"></label>
                    <input asp-for="AutoPart!.Applicability" value="@part.Applicability" minlength="3" required placeholder="This is a required field">
                    <span class="error-message" asp-validation-for="AutoPart!.Applicability"></span>
                </div>
                <div class="input-container">
                    <label asp-for="AutoPart!.Company" class="detail"></label>
                    <input asp-for="AutoPart!.Company" value="@part.Company">
                    <span class="error-message" asp-validation-for="AutoPart!.Company"></span>
                </div>
                <div class="input-container">
                    <label asp-for="AutoPart!.PriceInRubles" class="detail"></label>
                    <input asp-for="AutoPart!.PriceInRubles" value="@part.PriceInRubles" type="number" min="0" max="99999999.99">
                    <span class="error-message" asp-validation-for="AutoPart!.PriceInRubles"></span>
                </div>
                <div class="input-container">
                    <label asp-for="AutoPart!.PriceInTenge" class="detail"></label>
                    <input asp-for="AutoPart!.PriceInTenge" value="@part.PriceInTenge" type="number" value="100" min="100" max="99999999.99" required placeholder="This is a required field">
                    <span class="error-message" asp-validation-for="AutoPart!.PriceInTenge"></span>
                </div>
                <div class="input-container">
                    <label asp-for="AutoPart!.Amount" class="detail"></label>
                    <input asp-for="AutoPart!.Amount" value="@part.Amount" type="number" min="0" max="65535">
                    <span class="error-message" asp-validation-for="AutoPart!.Amount"></span>
                </div>
            </form>
        </div>
    </div>
</main>

<script type="module" src="~/js/autoPartValidation.js"></script>
<script type="module" src="~/js/updateProduct.js"></script>