@page
@using AutoParts.Models

@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Antiforgery

@model IndexModel
@{
    ViewData["Title"] = "My Collection";
    string[] identifiers = {
        "index",
        "name",
        "applicability",
        "company",
        "priceInRubles",
        "priceInTenge",
        "amount",
        "sell"
    };

    var requestToken = Antiforgery.GetAndStoreTokens(HttpContext).RequestToken;
}
<input id="RequestVerificationToken" type="hidden" value="@requestToken" />
<main id="autoPartsTable">
    <table>
        <tr>
            <th id="@identifiers[0]">
                №
            </th>
            <th id="@identifiers[1]">
                Name
            </th>
            <th id="@identifiers[2]">
                Applicability
            </th>
            <th id="@identifiers[3]">
                Company
            </th>
            <th id="@identifiers[4]">
                Price(RUB)
            </th>
            <th id="@identifiers[5]">
                Price(KZT)
            </th>
            <th id="@identifiers[6]">
                Amount
            </th>
            <th id="@identifiers[7]">
                Operation
            </th>
        </tr>
        @foreach (AutoPart item in Model.AutoParts)
        {
            <tr data-item-id="@item.Id">
                <td headers="@identifiers[0]">@item.Id</td>
                <td headers="@identifiers[1]">@item.Name</td>
                <td headers="@identifiers[2]">@item.Applicability</td>
                <td headers="@identifiers[3]">@(item.Company == null ? "Unknown" : item.Company)</td>
                <td headers="@identifiers[4]">@item.PriceInRubles</td>
                <td headers="@identifiers[5]">@item.PriceInTenge</td>
                <td headers="@identifiers[6]">@item.Amount</td>
                <td data-product-id="@item.Id" headers="@identifiers[7]" class="btnCell sellingBtn pointer" role="button" tabindex=0>
                    Sell
                </td>
            </tr>
        }
    </table>
</main>
<div id="modalContainer">
    <div id="modalWindow">
        <div id="modalHeader">
            <span id="modalCloseIcon" class="headerIcon material-symbols-outlined" title="Cancel">
            cancel
            </span>
            <span id="modalClearIcon" class="headerIcon material-symbols-outlined" title="Clear selected items">
            delete_forever
            </span>
        </div>
        <div id="modalBtnWrapper">
            <button class="primaryBtn finalSell">Sell</button>
        </div>
    </div>
</div>
<div id="bagWrapper">
    <div id="productInfo">
        <p id="orderSummary">You have no products here.</p>
        <button id="openOrder" class="pointer" disabled title="You have no items to sell.">Proceed to sell</button>
    </div>
    <div id="bag" class="pointer">
        <p>Selected Items <span id="selectedItemsCount">0</span></p>
    </div>
</div>