@page
@using AutoParts.Models

@model IndexModel
@{
    ViewData["Title"] = "My Collection";
    string[] identifiers = {
        "index",
        "name",
        "applicability",
        "company",
        "priceInRubles",
        "priceInTenge",
        "amount",
        "sell"
    };
}
<main id="auto-parts-table">
    <table>
        <tr>
            <th id="@identifiers[0]">
                №
            </th>
            <th id="@identifiers[1]">
                Name
            </th>
            <th id="@identifiers[2]">
                Applicability
            </th>
            <th id="@identifiers[3]">
                Company
            </th>
            <th id="@identifiers[4]">
                Price(RUB)
            </th>
            <th id="@identifiers[5]">
                Price(KZT)
            </th>
            <th id="@identifiers[6]">
                Amount
            </th>
            <th id="@identifiers[7]">
                Operation
            </th>
        </tr>
        @foreach (AutoPart item in Model.AutoParts)
        {
            <tr data-row-id="@item.Id">
                <td headers="@identifiers[0]">@item.Id</td>
                <td headers="@identifiers[1]"><a asp-page="/Main/UpdateProduct" asp-route-id="@item.Id">@item.Name</a></td>
                <td headers="@identifiers[2]">@item.Applicability</td>
                <td headers="@identifiers[3]">@item.Company</td>
                <td headers="@identifiers[4]">@item.PriceInRubles</td>
                <td headers="@identifiers[5]">@item.PriceInTenge</td>
                <td headers="@identifiers[6]">@item.Amount</td>
                <td data-product-id="@item.Id" headers="@identifiers[7]" class="btn-cell addingBtn pointer" role="button" tabindex=0>
                    Add
                </td>
            </tr>
        }
    </table>
</main>
<div id="modal-container">
    <div id="modal-window">
        <div id="modal-header">
            <span id="modal-close-icon" class="header-icon material-symbols-outlined" title="Cancel">
            cancel
            </span>
            <span id="modal-clear-icon" class="header-icon material-symbols-outlined" title="Clear selected items">
            delete_forever
            </span>
        </div>
        <div id="items-wrapper"></div>
        <div id="modal-btn-wrapper">
            <button class="primary-btn final-sell">Sell</button>
        </div>
    </div>
</div>
<div id="bag-wrapper">
    <div id="bag-info">
        <p id="bag-summary">You have no products here.</p>
        <button id="open-modal" class="pointer" disabled title="You have no items to sell.">Proceed to sell</button>
    </div>
    <div id="bag" class="pointer">
        <p>Selected Items <span id="bag-count">0</span></p>
    </div>
</div>

<script src="~/js/index.js"></script>