@page
@using AutoParts.Model

@model IndexModel
@{
    ViewData["Title"] = "Home page";
    string[] identifiers = {
        "index",
        "name",
        "applicability",
        "company",
        "priceInRubles",
        "priceInTenge",
        "amount",
        "sell"
    };
}
<main id="autoPartsTable">
    <table>
        <tr>
            <th id=@identifiers[0]>
                №
            </th>
            <th id=@identifiers[1]>
                Name
            </th>
            <th id=@identifiers[2]>
                Applicability
            </th>
            <th id=@identifiers[3]>
                Company
            </th>
            <th id=@identifiers[4]>
                Price(RUB)
            </th>
            <th id=@identifiers[5]>
                Price(KZT)
            </th>
            <th id=@identifiers[6]>
                Amount
            </th>
            <th id=@identifiers[7]>
                Operation
            </th>
        </tr>
        @foreach (AutoPart item in Model.AutoParts)
        {
            <tr>
                <td headers=@identifiers[0]>@item.Id</td>
                <td headers=@identifiers[1]>@item.Name</td>
                <td headers=@identifiers[2]>@item.Applicability</td>
                <td headers=@identifiers[3]>@(item.Company == null ? "Unknown" : item.Company)</td>
                <td headers=@identifiers[4]>@item.PriceInRubles</td>
                <td headers=@identifiers[5]>@item.PriceInTenge</td>
                <td header=@identifiers[6]>@item.Amount</td>
                <td headers=@identifiers[7] class="btnCell" role="button" tabindex=0 onclick="addToBag(@item.Id)">
                    Sell
                </td>
            </tr>
        }
    </table>
</main>

@section Scripts {
    <script>
        "use strict";
        class Product {
            id;
            amount;
            constructor(id){
                this.id = id;
                this.amount = 1;
            }
        }
        const bag = new Map();
        let product, isCreated = false;
        function addToBag(id){
            product = new Product(id);
            if(bag.has(product.id)){
                bag.get(product.id).amount ++;
            }
            else{
                bag.set(product.id, product);
            }
            if(!isCreated){
                createPurchaseList();
            }
        }
        function createPurchaseList(){
            
            isCreated = true;
        }
    </script>
}